<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% url "css/style.css" %}">
    <title>Sobre mi</title>
</head>
<body>
    <div class="sobremi">
    <p>En este blog trate de crear una pagina para enseñar lo basico para empezar a leer partituras para aquellos que aspiren a empezara tocar el piano,trate de contas lo mas basico ya que no tengo los mas  altos conocimientos pero espero que le sirva a quellos que lo neseciten</p>
    </div>
</body>
</html>