<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Da tu Opinion</title>
</head>
<body>
    <header class="headerdePaginas">
        <div class="logo-titulo">
        <img class="logo"  src="{% static "imagenes/logo.jpeg" %}" alt="">
        <h1>Opinion de gente que utilizo basics</h1>
        </div>
    </header>
    <div >
        <h1>Opinion de {{opinion.autor}}</h1>
        <h2>{{opinion.titulo}}</h2>
        <br>
        <h3>{{opinion.sub}}</h3>
        <br>
        <p>{{opinion.cuerpo}}</p>

        

    </div>
    
</body>
</html>