<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Registrate</title>
</head>
<body>
    <header class="headerdePaginas">
        <div class="logo-titulo">
        <img class="logo"  src="{% static "imagenes/logo.jpeg" %}" alt="">
        <h1>Registrate en Basics</h1>
        </div>
    </header>
    <div >
        <form action="{% url "registro" %}" method="post">{% csrf_token %}

           {{form.as_p}}
    
            <br>
            <button type="submit">Refistrarse</button>


        </form>

        

    </div>
    
</body>
</html>